<link rel="stylesheet" href="/stylesheets/partials/side-nav.css">
<script src="/javascripts/partials/side-nav.js"></script>
<ul id="slide-out" class="side-nav fixed grey lighten-5">
  <li id="logoLi">
    <img src="/images/logo.png" alt="" id="logoImg" onclick="window.location.href = '/'">
  </li>
  <li><div class="divider"></div></li>
  <li class="selectLi" id="selectSportLi">
    <a>
      <select id="sportSelect" data-selected = "{{selectedSport}}">
        <option value = "None" disabled selected>Choose a sport</option>
        <option value = "Baseball">Baseball</option>
        <option value = "Football">Football</option>
        <option value = "Basketball">Basketball</option>
        <option value = "Hockey">Hockey</option>
      </select>
    </a>
  </li>
  {{#if leagues}}
  <li class="selectLi" id="selectLeagueLi">
    <a>
      <select id="leagueSelect" data-selected = "{{selectedLeague}}">
        <option value="" disabled selected>Choose a league</option>
        {{#each leagues}}
        <option value = "{{this}}" >{{this}}</option>
        {{/each}}
      </select>
    </a>
  </li>
  {{/if}}
  {{#each stadiums}}
  <li>
    <a href="/{{../selectedSport}}/{{../selectedLeague}}/{{this._id}}" class="sideLinks">{{this.name}}</a>
  </li>
  {{/each}}
</ul>
<!-- <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a> -->
